.home-main-div {
  gap: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-div {
  width: 40%;
  gap: 7px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.select-div div {
  line-height: 1.7;
  display: flex;
  flex-direction: column;
}

.card-body {
  gap: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.heading-div {
  display: flex;
  flex-direction: column;
}

.heading-div div {
  gap: 15px;
  display: flex;
  flex-direction: row;
}

.social-icons-p {
  display: flex;
  gap: 7px;
}

.social-icons-div {
  display: flex;
  gap: 5px;
}

@media screen and (max-width: 700px) {
  .select-div {
    width: 75%;
  }
}

@media screen and (max-width: 500px) {
  .select-div {
    width: 98%;
  }
}
